.sidebar {
    -fx-background-color: #ffffff;
    -fx-border-color:#ffffff;
    -FX-border-width: 0 1 0 0;
}
.sidebar-btn {
    -fx-background-color: transparent;
    -fx-pading: 10 20 10 20;
    -fx-background-radius: 30;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 15;
    -fx-margin: 0 10 0 10;
}
.menu-text {
    -fx-fill:#333333;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.sidebar-btn:hover, .sidebar-btn.active {
    -fx-background-color: linear-gradient(to bottom right, #E3F2FD, #BBDEFB);
    -fx-effect: dropshadow(three-pass-box, rgba(144, 202, 249, 0.4), 8, 0, 0, 2);
}
.sidebar-btn:hover .menu-text {
    -fx-fill: #1565C0; 
}
/* Hiệu ứng khi nhấn giữ chuột */
.sidebar-btn:pressed {
    -fx-background-color: linear-gradient(to bottom right, #E3F2FD, #BBDEFB);
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-effect: dropshadow(three-pass-box,rgba(144, 202, 249, 0.4), 20, 0.6, 0, 0);
}

/* ---  Biểu Đồ --- */

.bieuDoDoanhThu .chart-series-line {
    -fx-stroke: #1565C0;
    -fx-stroke-width: 2.5px;
}

.bieuDoDoanhThu .chart-series-area-fill {
    -fx-fill: linear-gradient(to bottom, #e7ffce, transparent);
}

.bieuDoDoanhThu .chart-line-symbol, 
.bieuDoDoanhThu .chart-area-symbol {
    -fx-background-color: #E3F2FD, #1565C0; /* Viền nhạt, nhân đậm */
    -fx-background-radius: 5px;
    -fx-background-insets: 0, 2; /* Độ dày viền */
    -fx-padding: 4px; /* Kích thước chấm */
}
/*  Xóa nền và lưới dọc cho sạch */
.bieuDoDoanhThu .chart-plot-background {
    -fx-background-color: transparent;
}
.bieuDoDoanhThu .chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.bieuDoDoanhThu .chart-horizontal-grid-lines {
    -fx-stroke: #eeeeee; /* Lưới ngang mờ mờ */
    -fx-stroke-dash-array: 4 4; /* Nét đứt */
}

.bieuDoDoanhThu .axis {
    -fx-tick-label-fill: #757575; 
    -fx-tick-label-font-size: 11px;
}
/* . (Mới thêm) Ẩn chú thích (Legend) nếu thấy vướng */
.bieuDoDoanhThu .chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

                    /*  PRODUCT */
.buttonAdd {
    -fx-background-color: linear-gradient(to bottom right, #E3F2FD, #BBDEFB); 
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 30px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}
.buttonAdd:hover {
    -fx-background-color: linear-gradient(to bottom right, #E3F2FD, #BBDEFB); 
    -fx-scale-x: 1.1; /* Phóng to chiều ngang 10% */
    -fx-scale-y: 1.1; /* Phóng to chiều dọc 10% */
    /* Tạo hiệu ứng phát sáng */
    -fx-effect: dropshadow(three-pass-box,rgba(144, 202, 249, 0.4), 20, 0.6, 0, 0);
}
.buttonAdd:pressed {  /* nhấn chuột  */
    -fx-background-color: linear-gradient(to bottom right, #E3F2FD, #BBDEFB);
    -fx-scale-x: 1.0; /* Thu nhỏ lại khi ấn */
    -fx-scale-y: 1.0;
    -fx-effect: dropshadow(three-pass-box,rgba(144, 202, 249, 0.4), 20, 0.6, 0, 0);
}

            /* Login */     
.buttonLogin {
    -fx-background-color: linear-gradient(to bottom right, #FF416C, #FF4B2B);
    -fx-text-fill: white;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-alignment: center;
    -fx-cursor:hand
}
.buttonLogin:hover{
    -fx-background-color: linear-gradient(to bottom right, derive(#FF416C, 20%), derive(#FF4B2B, 20%));
}
.buttonLogin.buttonAdd:pressed {
    -fx-background-color: linear-gradient(to bottom right, derive(#FF416C, -20%), derive(#FF4B2B, -20%));
}
.login-title:hover {
    -fx-text-fill: linear-gradient(to right, #00c6ff, #5c9ce9);
    -fx-effect: dropshadow(gaussian, #86d2e8,  5, 0, 0, 2);
}

            /* Style Menu Chuột Phải chỉnh sửa - xoá */
/* 1. Cái hộp chứa menu */
.context-menu {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4); 
    -fx-padding: 5px;
}

/* 2. Từng dòng (Chỉnh sửa/Xóa) bên trong menu */
.context-menu .menu-item {
    -fx-background-color: transparent;
    -fx-padding: 8 15 8 15;  /* Kích thước vừa vặn, không bị to đùng */
    -fx-background-radius: 5px;
}

/* 3. Hiệu ứng khi di chuột vào dòng menu */
.context-menu .menu-item:focused {
    -fx-background-color: #E3F2FD; /* Màu xanh nhạt */
    -fx-cursor: hand;
}

/* 4. Màu chữ trong menu */
.context-menu .menu-item .label {
    -fx-text-fill: #333333;
    -fx-font-size: 13px;
}

/* --- TRẠNG THÁI ĐƠN HÀNG --- */

/* thành công */
.status-success {
    -fx-text-fill: #28a745; 
    -fx-font-weight: bold;
}

/*chờ xử lý */
.status-danger {
    -fx-text-fill: #dc3545;
    -fx-font-weight: bold;
}

/* đang giao hàng */
.status-warning {
    -fx-text-fill: #ffc107;
    -fx-font-weight: bold;
}